<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Api test</title>
    <script src="https://cdn.getaddress.io/scripts/getaddress-autocomplete-1.1.3.min.js">
    </script>
    
</head>
<body>
    <label>First Address Line</label>
    <input id="formatted_address_0" type="text">

    <label>Second Address Line</label>
    <input id="formatted_address_1" type="text">

    <label>Third Address Line</label>
    <input id="formatted_address_2" type="text">

    <label>Town</label>
    <input id="town_or_city" type="text">

    <label>County</label>
    <input id="county" type="text">

    <label>Postcode</label>
    <input id="postcode" type="text">
    
</body>

    <!-- after your form -->
    <script>
        getAddress.autocomplete('formatted_address_0','8_nr7S0fJ0uKKNyjLmjveg25832');
    </script>
</html>