<!DOCTYPE html>
<html lang="en">

<head>

  <!-- Metas -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
  <meta property="og:title" content="Quality Dry Cleaners : Best Dry Cleaners Services Near Me" />
  <meta property="og:type" content="Dry Cleaners" />
  <meta property="og:description"
    content="Looking For A Best Dry Cleaners Near You? We Pride Ourselves On Our Commitment To Provide A Professional And Speedy Dry Cleaning Service At All Times." />
  <meta property="og:image" content="https://www.qualitydrycleanerz.co.uk/img/Main-image/shop.jpg" />
  <meta name="keywords" content="dry cleaning, same day dry clean, swindon, cloths wash, launderate, suits clean" />
  <meta name="description"
    content="Looking For A Best Dry Cleaners Near You? We Pride Ourselves On Our Commitment To Provide A Professional And Speedy Dry Cleaning Service At All Times." />
  <meta name="author" content="Faran" />

  <!-- Title  -->
  <title>Quality Dry Cleaners : Best Dry Cleaners Services Near Me</title>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
    integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="/static/booking/css/faqs.css">

  <link rel="stylesheet" href="/static/booking/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/booking/css/tabs.css">
  <!-- Favicon -->
  <link rel="shortcut icon" href="/static/booking/img/favicon.ico" />

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Raleway:200,300,400,500,600,700,800" rel="stylesheet">

  <!-- Plugins -->
  <link rel="stylesheet" href="/static/booking/css/plugins.css" />

  <!-- Core Style Css -->
  <link rel="stylesheet" href="/static/booking/css/style.css" />
  <link rel="stylesheet" href="/static/booking/css/font-awesome.css" />
  <style>
    .caret {
      display: none !important
    }

    .navbar-toggler {
      padding: .90rem 1rem;
      font-size: 1.25rem;
    }

    .modal-header .close {
      width: 50px;
    }

    .modal-footer button.btn.btn-default {
      padding: 11px 19px;
    }

    @media all and (max-width: 520px) {
      .footer-links a {
        padding-top: 17px;
        padding-bottom: 16px;
        line-height: 1em;
      }
    }

    .bootstrap-select {
      width: 100% !important;
    }

    @media only screen and (min-width: 968px) {
      .auto-complete-address-boostrap-only {
        width: 27rem
      }
    }

    @media only screen and (max-width: 967px) {
      .auto-complete-address-boostrap-only {
        width: 15rem
      }
    }

    .sub_btn:after {
      display: none;
    }
  </style>


  <!-- <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/css/bootstrap.min.css'> -->
  <link rel="stylesheet" href="/static/booking/css/boostrap-only.css" />
  <link rel='stylesheet' href='css/bootstrap-select.min.css'>
  <link rel='stylesheet' href='css/ajax-bootstrap-select.min.css'>
</head>

<body>
  <script>
    var url = window.location.href;
    if (url == "https://www.qualitydrycleanerz.co.uk/index.html#success") {
      window.location = '#contact';
      setInterval(function () { $('#smsg').show(); }, 2000);
    } else if (url == "https://www.qualitydrycleanerz.co.uk/index.html#error") {
      window.location = '#contact';
      setInterval(function () { $('#emsg').show(); }, 2000);
    }
  </script>
  <!-- =====================================
     ==== Start Loading -->

  <div class="loading">
    <div class="text-center middle">
      <div class="lds-ellipsis">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
  </div>

  <!-- End Loading ====
     ======================================= -->


  <!-- =====================================
     ==== Start Navbar -->

  <nav class="navbar navbar-expand-lg">
    <div class="container">

      <!-- Logo -->
      <a class="logo" href="#">
        <img src="/static/booking/img/logo-light.png" alt="logo">
      </a>
      <div id="main">
        <div id="timeDiv"></div>
      </div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="icon-bar"><i class="fas fa-bars"></i></span>
      </button>

      <!-- navbar links -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link active" href="#" data-scroll-nav="0">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" data-scroll-nav="1">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" data-scroll-nav="2">Special Offers</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" data-scroll-nav="3">Why Choose Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" data-scroll-nav="4">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" data-scroll-nav="5">Contact US</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="booking.php">Book Now</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>


  <section class="header-1">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-8">


          <div class="site-wrapper">
            <section class="tabs-wrapper">
              <div class="tabs-container">
                <div class="tabs-block">
                  <div class="tabs">
                    {% for i in categories %}
                    {% if loop.index==1 %}
                    <input type="radio" name="tabs" id="tab{{loop.index}}" checked="checked"/>
                    {% else %} 
                    
                    <input type="radio" name="tabs" id="tab{{loop.index}}"/>
                    {%endif %}
                    <label for="tab{{loop.index}}">
                      <img src="/static/img/price/{{i.image}}" class="img-fluid" alt="">
                      <p>

                        {{i.name}}
                      </p>
                    </label>
                    <div class="tab">
                      <div class="form-group mb-3 mb-md-4">
                        <!-- <input id="filter" name="filter" class="form-control form-control-lg text-uppercase" autocomplete="off" placeholder="Search..." type="text"> -->
                      </div>
                      <div class="row order-list-items" id="MixItUp083D3C-{{loop.index}}">

                        {% for j in i.pricing %}

                        <div class="mix category-0 col-md-6 col-12 " id="service_item_183" data-id="{{loop.index}}" style="">
                          <div class="order-list-item  px-3 py-3 mb-2 mb-md-4">

                            <div class="row no-gutters">

                              <div class="col-12 col-xl-6 pr-lg-3 d-none d-md-block"><a class="service-image" href="#"
                                  data-id="183" data-title="Wash, Dry &amp; Fold  x 2" data-price="32.34"
                                  data-desktop-image="1_5)_2_Bags_of_8kg_Wash_-_Vector.png"
                                  data-mobile-image="laundry-mobile.jpg" data-category-id="10" data-category="Laundry"
                                  data-package="No" data-preference-show="Yes" data-popup-message=""><img
                                    data-img="/uploads/services/1_5)_2_Bags_of_8kg_Wash_-_Vector.png" class="img-fluid"
                                    src="/static/img/matrial/suits/{{j.image}}"></a></div>


                              <div class="col-12 col-xl-6">
                                <h2 class="service-description" id="183">, {{j.name}} x 1</h2>
                                <!-- <div class="service-option">(White + Colour Wash)&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                                  (Excl Blankets, Pillow &amp; Duvets)
                                  (Minimum Wash at 30 Degree)
                                  (Medium Heat Tumble Dry)

                                </div> -->
                                <div class="service-price">
                                  <!-- <span class="service-price-orignal">£33.00</span> -->
                                  £{{j.price}}
                                </div>
                                <div class="service-cart">
                                  <button onclick="return add_item('{{loop.index}}','{{i._id}}')" id="add-btn-{{i._id}}-{{loop.index}}" class="plus add-item-cart action-item" data-id="{{loop.index}}"
                                    data-title="{{j.name}}" data-itemid="{{j._id}}" data-price="{{j.price}}"
                                    data-desktop-image="{{j.image}}"
                                    data-category-id="{{j.category_id}}" data-category="{{j.categoryname}}"
                                    data-package="No" data-preference-show="Yes" data-popup-message=""
                                    data-type="add">+</button>
                                  <button onclick="return remove_item('{{loop.index}}','{{i._id}}')" id="remove-btn-{{i._id}}-{{loop.index}}"
                                    class="minus remove-item-cart disabled action-item" data-id="{{loop.index}}"
                                    data-title="{{j.name}}" data-price="{{j.price}}"
                                    data-desktop-image="{{j.image}}"
                                    data-category-id="{{j.category_id}}" data-category="{{j.categoryname}}"
                                    data-package="No" data-preference-show="Yes" data-popup-message=""
                                    data-type="remove">-</button>
                                    <!-- <span
                                    class="service-offers badge badge-primary badge-pill mt-1 ml-1">2% </span> -->
                                    <span
                                    class="qty in-cart-qty ml-2 " id="qty-{{i._id}}-{{loop.index}}">0</span></div>
                              </div>
                            </div>

                          </div>
                        </div>

                        {% endfor %}
                      </div>

                    </div>
                    {% endfor %}
                  </div>
                </div>
              </div>
            </section>

          </div>
        </div>
        <div class="col-sm-4">
          <div class="order-sticky">
            <div class="order-summary py-3 px-3 px-xl-4 mb-lg-2 mb-1">
              <h2 class="order-summary-heading pb-2 pb-md-2 mb-1">Order Summary <button type="button"
                  class="btn btn-sm btn-dark rounded-circle d-block d-lg-none close btn-order-summary-close"
                  aria-label="Close"><span aria-hidden="true">×</span></button></h2>

              <div class="list-group list-group-flush">
                <div class="order-address-right list-group-item px-0 d-flex order-address-summary active">
                  <span class="badge px-0 pt-1 mr-2"><i class="fa fa-check-circle"></i></span>
                  <div class="order-summary-list-info">
                    <span>Address <button type="button" class="order-summary-edit" data-show="order-address"><i
                          class="far fa-edit"></i></button></span>
                    <!-- <small id="right_order_address">Flat 4-5, Dean House, Tarling Street, London
                      flat 4-5,Dean House, Tarling Street, London</small> -->
                    <small id="right_order_address">{{address}}</small>
                  </div>
                </div>
                <!-- <div class="order-select-items-right list-group-item  px-0 d-flex ">
                  <span class="badge px-0 pt-1 mr-2 "><i class="fa fa-check-circle"></i></span>
                  <div class="order-summary-list-info media-body">
                    <span>Item Selection <button type="button" class="order-summary-edit  d-none "
                        data-show="order-select-items"><i class="far fa-edit"></i></button></span>
                    <div class="mini-cart-right d-none"></div>
                    <div class="mini-cart-right-later"></div>
                  </div>
                </div>
                <div class="list-group-item px-0 d-flex order-collection-delivery-right  ">
                  <span class="badge px-0 pt-1  mr-2"><i class="fa fa-check-circle"></i></span>
                  <div class="order-summary-list-info">
                    <span>Collection &amp; Delivery <button type="button" class="order-summary-edit  d-none "
                        data-show="order-collection-delivery"><i class="far fa-edit  "></i></button></span>
                    <small class="collection d-none" style="display: inline;">Collection: <span
                        id="collection_pickup_date">Tue, 18 Oct</span> <span
                        id="collection_pickup_time">12:00-14:00</span></small>
                    <small class="collection d-none" style="display: inline;">Delivery: <span
                        id="collection_delivery_date">Thu, 20 Oct</span> <span
                        id="collection_delivery_time">10:00-12:00</span></small>
                  </div>
                </div>
                <div class="list-group-item px-0 d-flex login-register-right  ">
                  <span class="badge px-0 pt-1 mr-2"><i class="fa fa-check-circle"></i></span>
                  <div class="order-summary-list-info contact-detail-right">
                    <span>Contact Details <button type="button" class="order-summary-edit  d-none "
                        data-show="order-payments"><i class="far fa-edit "></i></button></span>
                    <small class=" d-none  contact-detail">Name: <span id="contact_name"></span></small>
                    <small class=" d-none  contact-detail ">Email: <span id="contact_email"></span></small>
                    <small class=" d-none  contact-detail">Phone: <span id="contact_phone"></span></small>
                  </div>
                </div> -->
              </div>
              <div class="order-minimum form-row pb-2 py-md-1">
                <div class="col-8 col-sm-8">
                  <span class="order-minimum-text">Minimum Order Value £<span id="item_minimum_amount">25.00</span>
                  </span>
                </div>
              </div>
              <!-- <div class="order-services-right form-row" style="display: none">
                <div class="col-8 col-sm-8">
                  <span class="order-minimum-text">Services Total</span>
                </div>
                <div class="col-4 col-sm-4 text-right">
                  <span class="order-services-total"> £<span id="item_services_price">0.00</span></span>
                </div>
              </div>
              <div class="order-discount-right form-row" style="display: none">
                <div class="col-8 col-sm-8">
                  <span class="order-minimum-text discount-right-text"> Discount Total</span>
                </div>
                <div class="col-4 col-sm-4 text-right">
                  <span class="order-discount-amount"> £<span id="item_discount_price">0</span></span>
                </div>
              </div>
              <div class="order-preferences-right form-row" style="display: none">
                <div class="col-8 col-sm-8">
                  <span class="order-minimum-text"> Preferences Total</span>
                </div>
                <div class="col-4 col-sm-4 text-right">
                  <span class="order-preferences-amount"> £<span id="item_preferences_price">0</span></span>
                </div>
              </div> -->
              <div class="order-minimum form-row pb-2 py-md-1">
                <div class="col-8 col-sm-8">
                  <span class="order-minimum-text">Grand Total</span>
                </div>
                <div class="col-4 col-sm-4">
                  <span class="order-amount"> £<span id="item_total_price">00.00</span></span>
                </div>
              </div>
              <!-- <div class="order-discount form-row py-2">
                <div class="col-9 col-sm-8">
                  <span class="order-discount-text"><a href="javascript:void(0);"
                      class="discount-button btn-block">Apply discount or referral code </a></span>
                </div>
                <div class="col-3 col-sm-4">
                  <button type="button"
                    class="btn btn-sm btn-primary btn-block d-table ml-auto discount-button ">APPLY</button>
                </div>
              </div>
              <div id="right_below_errors" class="d-none">
                <div class="alert alert-danger alert-dismissible" role="alert">
                  <p class="mb-0 order-discount-text">Please login or register to use the discount code.</p><button
                    type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true"><i
                        class="feather icon-x-circle"></i></span></button>
                </div>
              </div> -->
            </div>
            <div class="non-responsive-btns">
              <button onclick="return next()" type="button"
                class="btn btn-primary btn-order btn-lg btn-block rounded-pill next-rgt-button">Next</button>
              <button type="submit"
                class="btn btn-primary btn-order btn-lg btn-block rounded-pill next-rgt-confirm-button d-none"
                data-tid="elements_examples.form.pay_button">Confirm Order</button>

            </div>
            <div class="order-term-condition my-3">
              <button type="submit"
                class="responsive-btns btn btn-primary py-3 mb-3 font-weight-bold rounded-pill btn-block btn-lg order-mobile d-lg-none next-rgt-confirm-button d-none"
                data-tid="elements_examples.form.pay_button">Confirm Order</button>


              <button type="button"
                class="btn btn-dark btn-block btn-lg mb-3 font-weight-bold rounded-pill order-mobile d-none next-rgt-loading-button"
                disabled="disabled">Please wait...</button>
              <div class="px-3">
                <label class="small mb-0" for="chk_terms">By continuing you agree to our <a target="_blank"
                    href="https://www.love2laundry.com/t-c">Terms &amp; Conditions</a> and Privacy Policy.</label>
              </div>
            </div>

          </div>

        </div>
      </div>
    </div>
  </section>

  <!-- Site footer -->
  <footer class="site-footer">
    <div class="container">
      <div class="row">

        <div class="col-xs-6 col-md-3">
          <h7>Temporary Opening Hours</h7>
          <ul class="footer-links">
            <li>Monday - Friday - 8.30am - 5pm</a></li>
            <li>Saturday - 9am - 5pm</a></li>
            <li>Sunday - Closed</a></li>
            <li>Bank Holidays - Closed</a></li>
            <li></a></li>
            <li></a></li>
          </ul>
        </div>

        <div class="col-xs-6 col-md-3">
          <h7>Areas We Cover</h7>
          <ul class="footer-links">
            <li>SN1, SN2</a></li>
            <li>SN3, SN4</a></li>
            <li>SN5, </a></li>
            <li>SN26, SN25</a></li>
            <li>SN99, SN38</a></li>
          </ul>
        </div>

        <div class="col-xs-6 col-md-3">
          <h7>Address</h7>
          <ul class="footer-links">
            <li>Quality Dry Cleaners</a></li>
            <li>100 Commercial Road</a></li>
            <li>Swindon</a></li>
            <li>SN1 5PL</a></li>
            <li>Tel: 01793 617307</a></li>
            <li>24hrs: 07599 091 665</a></li>
          </ul>
        </div>

        <div class="col-xs-6 col-md-3">
          <h7>Quick Links</h7>
          <ul class="footer-links">

            <li><a href="areas-we-cover.html">Areas We Cover</a></li>
            <li><a href="partners.html">Partners</a></li>
            <li><a href="sitemap.html">Sitemap</a></li>



          </ul>
        </div>

      </div>
      <hr>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-6 col-xs-12">
          <p class="copyright-text">
            <h7>Copyright</h7> &copy;<h8> 2021 All Rights Reserved by</h8>
            <a href="#">Webtrica</a>.
          </p>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12">
          <ul class="social-icons">
            <li><a class="facebook" href="https://www.facebook.com/QualityDryCleanerz/"><i
                  class="fa fa-facebook"></i></a></li>
            <li><a class="twitter" href="https://twitter.com/qdrycleaners"><i class="fa fa-twitter"></i></a></li>
            <li><a class="instagram" href="https://www.instagram.com/quality_dry_cleaners_swindon/?hl=en"><i
                  class="fa fa-instagram"></i></a></li>

          </ul>
        </div>
      </div>
    </div>




  </footer>

  <!-- End Footer ====
     ======================================= -->

  <!-- jQuery -->
  <script src='js/jquery.min.js'></script>
  <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script> -->

  <!-- <script src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/js/bootstrap.min.js'></script> -->
  <script src="/static/booking/js/jquery-3.0.0.min.js"></script>
  <script src="/static/booking/js/jquery-migrate-3.0.0.min.js"></script>
  <script src="/static/booking/js/moment.min.js"></script>

  <!-- popper.min -->
  <script src="/static/booking/js/popper.min.js"></script>

  <!-- bootstrap -->
  <script src="/static/booking/js/bootstrap.min.js"></script>

  <!-- scrollIt -->
  <script src="/static/booking/js/scrollIt.min.js"></script>

  <!-- animated.headline -->
  <script src="/static/booking/js/animated.headline.js"></script>

  <!-- jquery.waypoints.min -->
  <script src="/static/booking/js/jquery.waypoints.min.js"></script>

  <!-- jquery.counterup.min -->
  <script src="/static/booking/js/jquery.counterup.min.js"></script>

  <!-- owl carousel -->
  <script src="/static/booking/js/owl.carousel.min.js"></script>

  <!-- jquery.magnific-popup js -->
  <script src="/static/booking/js/jquery.magnific-popup.min.js"></script>

  <!-- stellar js -->
  <script src="/static/booking/js/jquery.stellar.min.js"></script>

  <!-- isotope.pkgd.min js -->
  <script src="/static/booking/js/isotope.pkgd.min.js"></script>


  <!-- Map -->
  <script src="/static/booking/js/map.js"></script>

  <!-- validator js -->
  <script src="/static/booking/js/validator.js"></script>

  <!-- custom scripts -->
  <script src="/static/booking/js/scripts.js"></script>

  <!-- google map api -->
  <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBK7lXLHQgaGdP3IvMPi1ej0B9JHUbcqB0&callback=initMap">

    </script>



  <script>
    function myFunction() {
      document.getElementById("myBtn").value = "PKR150.00";
    }
  </script>



  <script src="https://code.jquery.com/jquery-2.1.0.js"></script>

  <script src="/static/booking/js/jquery-3.2.1.slim.min.js"></script>
  <script src="/static/booking/js/popper.min.js"></script>
  <script src="/static/booking/js/bootstrap.min.js"></script>

  <script>
    let cart = [];
    function add_item(index,id){
      btn = document.getElementById("add-btn-"+id+"-"+index);
      total_price = parseFloat(document.getElementById("item_total_price").innerHTML);
      qty = parseFloat(document.getElementById("qty-"+id+"-"+index).innerHTML)
      qty = qty+1
      document.getElementById("qty-"+id+"-"+index).innerHTML='';
      document.getElementById("qty-"+id+"-"+index).innerHTML=qty;
      console.log(total_price)
      total_price = total_price+parseFloat(btn.dataset.price);
      document.getElementById("item_total_price").innerHTML = '';
      document.getElementById("item_total_price").innerHTML = total_price;

      // push to cart array       
      itemid = btn.dataset.itemid;
      console.log('itemid: ',itemid)
      cart.push(itemid)
      console.log(cart)
      
      


      
    }
    
    function remove_item(index,id){
      btn = document.getElementById("remove-btn-"+id+"-"+index);
      total_price = parseFloat(document.getElementById("item_total_price").innerHTML);

      qty = parseFloat(document.getElementById("qty-"+id+"-"+index).innerHTML)
      qty = qty-1
      if(qty>-1){
      document.getElementById("qty-"+id+"-"+index).innerHTML='';
      document.getElementById("qty-"+id+"-"+index).innerHTML=qty;
      console.log(total_price)
      total_price = total_price-parseFloat(btn.dataset.price);
      document.getElementById("item_total_price").innerHTML = '';
      document.getElementById("item_total_price").innerHTML = total_price;

      // remove from cart array       
      itemid = btn.dataset.itemid;
      console.log('itemid: ',itemid)
      cart.pop(itemid)
      console.log(cart)
      }      
    }

    function next(){
      
      var postcode ='{{postcode}}';
      var city = '{{city}}';
      var address = '{{address}}';
      var p_date = '{{p_date}}';
      var p_time = '{{p_time}}';
      var d_date = '{{d_date}}';
      var d_time = '{{d_time}}';
      console.log("next presssed");
      window.location.href = "/book-now?postcode="+postcode+"&p_date="+p_date+"&p_time="+p_time+"&d_date="+d_date+"&d_time="+d_time+"&city="+city+"&address="+address+"&cart="+cart;
    }
  </script>
</body>

</html>