{% extends 'layout2.html' %}
{% block title%}Quality Dry Cleaners : Best Dry Cleaners Services Near Me{%
endblock %}
{% block content %}

<header class="header-1">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="text-header-1">
          <h2>Choose Collection</h2>
          <h1>Date & Time
          </h1>
          <!-- <h2>Get In Touch</h2>
              <h1>For Booking
              </h1> -->
        </div>
        <div class="text-2_header">
          <!-- <p>Collection & Delivery Minimum order of £25.00 throughout <span>SN1 | SN2 & SN3 </span> , areas only.<span> SN4 |  SN5 | SN6 | SN7 | SN16 | SN25 | SN99 & SN38 </span> Minimum order £35.00 Please Call Us if you <br> require an Express Service (extra charge applicable).</p> -->
          <p>
            {% if pc %}
            <span> {{pc}} </span>
            {% endif %}
            Minimum Order is £25.00. Please Call Us if you require an Express
            Service (extra charge applicable). </p>

        </div>
      </div>
      <div class="col-sm-8">
        <div class="form-header">
          <h6>Pick UP</h6>
          <div class="row">

            <div class="col-sm-6">
              <div class="form-group">
                <label for="exampleFormControlInput1">Date</label>
                <input type="date" class="form-control"
                  id="p_date" placeholder="name@example.com">
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="exampleFormControlSelect1">Time</label>
                <select class="form-control" id="p_time">
                  <option>2pm - 3pm</option>
                  <option>3pm - 4pm</option>
                  <option>4pm - 5pm</option>
                  <option>5pm - 6pm</option>
                  <option>6pm - 7pm</option>
                </select>
              </div>
            </div>

          </div>

        </div>
        <div class="form-header">
          <h6>Delivery</h6>
          <div class="row">

            <div class="col-sm-6">
              <div class="form-group">
                <label for="exampleFormControlInput1">Date</label>
                <input type="date" class="form-control"
                  id="d_date" placeholder="name@example.com">
              </div>
            </div>

            <div class="col-sm-6">
              <div class="form-group">
                <label for="exampleFormControlSelect1">Time</label>
                <select class="form-control" id="d_time">
                  <option>4pm - 5pm</option>
                  <option>5pm - 6pm</option>
                  <option>6pm - 7pm</option>
                  <option>7pm - 8pm</option>
                </select>
              </div>
            </div>

          </div>

        </div>
        <div class="button-continue">
          <!-- <a href="/booking-price" class="btn btn-primary">Continue >></a> -->
          <button onclick="return next()" class="btn btn-primary">Continue >></button>
        </div>

      </div>
      <div class="col-sm-4">

        <!-- ***** FAQ Start ***** -->


        <div class="faq" id="accordion">
          <div class="card">
            <div class="card-header" id="faqHeading-1">
              <div class="mb-0">
                <h5 class="faq-title" data-toggle="collapse"
                  data-target="#faqCollapse-1" data-aria-expanded="true"
                  data-aria-controls="faqCollapse-1">
                  <span class="badge">1</span>How it works?
                </h5>
              </div>
            </div>
            <div id="faqCollapse-1" class="collapse"
              aria-labelledby="faqHeading-1" data-parent="#accordion">
              <div class="card-body">
                <p>It's simple! Just put everything in a bag. No need to count
                  clothes. We will do all of that at check-in at our facility.
                </p>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="faqHeading-2">
              <div class="mb-0">
                <h5 class="faq-title" data-toggle="collapse"
                  data-target="#faqCollapse-2" data-aria-expanded="false"
                  data-aria-controls="faqCollapse-2">
                  <span class="badge">2</span> View Price List
                </h5>
              </div>
            </div>
            <div id="faqCollapse-2" class="collapse"
              aria-labelledby="faqHeading-2" data-parent="#accordion">
              <div class="card-body">
                <p>Click Here to see our detailed price list.</p>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="faqHeading-3">
              <div class="mb-0">
                <h5 class="faq-title" data-toggle="collapse"
                  data-target="#faqCollapse-3" data-aria-expanded="false"
                  data-aria-controls="faqCollapse-3">
                  <span class="badge">3</span>Why us?
                </h5>
              </div>
            </div>
            <div id="faqCollapse-3" class="collapse"
              aria-labelledby="faqHeading-3" data-parent="#accordion">
              <div class="card-body">
                <ul>
                  <li>Quality Guaranteed
                  </li>
                  <li> Guaranteed Smile
                  </li>
                  <li> Convenience
                  </li>
                  <li> Loyalty Schemes
                  </li>
                  <li> Affordable Prices
                  </li>
                  <li> Express Service
                  </li>
                  <li> Ready to Wear
                  </li>
                  <li> Collection & Delivery
                  </li>
                  <li> Award Winning Customer Service</li>

                </ul>

              </div>
            </div>
          </div>

        </div>

      </div>

    </div>
  </div>
</header>

<script>
  var today = new Date();
  var del_date = new Date(today);
  del_date.setDate(today.getDate()+4);
  del_date.toLocaleDateString();
  console.log("tomorrow: ",del_date);
  document.getElementById('p_date').valueAsDate = today;
  document.getElementById('d_date').valueAsDate = del_date;

  function next(){
    var postcode ='{{pc}}';
    var city = '{{city}}';
    var address = '{{address}}';
    p_date = document.getElementById("p_date").value;
    p_time = document.getElementById("p_time").value;
    d_date = document.getElementById("d_date").value;
    d_time = document.getElementById("d_time").value;
    console.log(p_date)
    console.log(p_time)
    console.log(d_date)
    console.log(d_time)
    if(p_date && p_time && d_date && d_time && postcode){
    window.location.href = "/booking-price?postcode="+postcode+"&p_date="+p_date+"&p_time="+p_time+"&d_date="+d_date+"&d_time="+d_time+"&city="+city+"&address="+address;
    }


  }
</script>
{% endblock %}