{% extends 'layout.html' %}
{% block title %}Shop Prices : Quality Dry Cleaners{% endblock %}
{% block content %}
<br>
<br>
<br>
<br>
<!-- =====================================
    	==== Start Hero -->
<section class="hero section-padding pb-0" data-scroll-index="1">
  <div class="container">
    <div class="row">
      <div class="col-md-6 mt1">
        <div class="row">
          <div class="col-md-12">
            <div class="mission">


            </div>
          </div>
        </div>
      </div>

      <div class="col-md-12 mt2">
        <input type="text" id="quicksearch" placeholder="Search"
          class="form-control"/>
        <div style=" overflow-y: scroll;">
          <div id="filters" class="button-group">
            {% for i in categories %}
            <button class="button fbtn" data-filter=".suits">
              <img src="/static/img/price/{{i.image}}"><br />
              {{i.name}}
            </button>
            <!-- <button onclick="return category_change('{{i.name}}')" class="button fbtn" data-filter=".suits">
              <img src="/static/img/price/{{i.image}}"><br />
              {{i.name}}
            </button> -->
            {% endfor %}
          </div>
        </div>


        <div class="grid" id="grid">
          {% for i in categories %}
            {% for j in i['pricing'] %}
              <div class="element-item suits" data-category="suits">
                <div class="rcircle"><img
                    src="/static/img/matrial/suits/{{j.image}}" class="mp"/></div>
                <h3 class="name">{{j.name}}</h3>
                <p class="tline">Dry Cleaned & Ironed</p>
                <p class="price">{{j.price}} Rs</p>
              </div>
            {% endfor %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>


<!-- End Hero ====
    	======================================= -->
<div class="noover rev">

  <div class="elfsight-app-3b5121c0-be66-45ca-9c74-d715e4ad6c7c"></div>
</div>
<script>
  function category_change(name){
    console.log("yes");
    console.log(name);
    var categories = '{{ categories|tojson }}';
    // grid = document.getElementById("grid");
    // grid.innerHTML=``;
    for (let i = 0; i < categories.length; i++) {
      // console.log(categories[i])
      // console.log("zam")
      // console.log(categories[i]['pricing'])
      console.log(categories[i])
      // for(let j = 0; j < categories[i].length; j++ ){
      //   console.log(categories[i][j]);
        // grid.innerHTML += `<div class="element-item suits" data-category="suits">
        //   <div class="rcircle"><img
        //       src="/static/img/matrial/suits/`+j['image']+`" class="mp"/></div>
        //   <h3 class="name">`+j['name']+`</h3>
        //   <p class="tline">Dry Cleaned & Ironed</p>
        //   <p class="price">`+j['price']+` Rs</p>
        // </div>`
      // }
    }
    grid.innerHTML=`
    {% for i in categories %}
      {% for j in i['pricing'] %}
        {% if i['name']=='${name}' %}
        <div class="element-item suits" data-category="suits">
          <div class="rcircle"><img
              src="/static/img/matrial/suits/{{j.image}}" class="mp"/></div>
          <h3 class="name">{{j.name}}</h3>
          <p class="tline">Dry Cleaned & Ironed</p>
          <p class="price">{{j.price}} Rs</p>
        </div>
        {% endif %}
      {% endfor %}
    {% endfor %}
    `;
  }
</script>
{% endblock %}

