<!DOCTYPE html>
<html lang="en">

<head>

    <!-- Metas -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <link rel="canonical" href="https://www.qualitydrycleanerz.co.uk/" />
    <meta property="og:title" content="Quality Dry Cleaners : Best Dry Cleaners Services Near Me" />
    <meta property="og:type" content="Dry Cleaners" />
    <meta property="og:description"
        content="Looking For A Best Dry Cleaners Near You? We Pride Ourselves On Our Commitment To Provide A Professional And Speedy Dry Cleaning Service At All Times." />
    <meta property="og:url" content="https://www.qualitydrycleanerz.co.uk/" />
    <meta property="og:image" content="https://www.qualitydrycleanerz.co.uk/img/Main-image/shop.jpg" />
    <meta name="keywords" content="dry cleaning, same day dry clean, swindon, cloths wash, launderate, suits clean" />
    <meta name="description"
        content="Looking For A Best Dry Cleaners Near You? We Pride Ourselves On Our Commitment To Provide A Professional And Speedy Dry Cleaning Service At All Times." />
    <meta name="author" content="Faran" />

    <!-- Title  -->
    <title>{%block title %}{%endblock%}</title>
    <!-- whatsapp popup -->
    <a href="https://api.whatsapp.com/send?phone=+447599091665&text=Hey," class="float" target="_blank">
        <i class="fab fa-whatsapp my-float"></i>
    </a>
    
    <style type="text/css">
        .float{
    position:fixed;
    width:65px;
    height:65px;
    bottom:40px;
    right:40px;
    background-color:#25d366;
    color:#FFF;
    border-radius:50px;
    text-align:center;
  font-size:30px;
    box-shadow: 2px 2px 3px #999;
  z-index:100;
}

.my-float{
    margin-top:16px;
}
    </style>
    <!-- whatsapp end  -->

    <!-- Favicon -->
    <link rel="shortcut icon" href="/static/img/favicon.ico" />

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway:200,300,400,500,600,700,800" rel="stylesheet">

    <!-- Plugins -->
    <link rel="stylesheet" href="/static/css/plugins.css" />

    <!-- Core Style Css -->
    <link rel="stylesheet" href="/static/css/style.css?1" />
    <link rel="stylesheet" href="/static/css/font-awesome.css" />
    <style>
        html {
        scroll-behavior: smooth;
        }
        .caret {
            display: none !important
        }

        .navbar-toggler {
            padding: .90rem 1rem;
            font-size: 1.25rem;
        }

        .modal-header .close {
            width: 50px;
        }

        .modal-footer button.btn.btn-default {
            padding: 11px 19px;
        }

        @media all and (max-width: 520px) {
            .footer-links a {
                padding-top: 17px;
                padding-bottom: 16px;
                line-height: 1em;
            }
        }

        .bootstrap-select {
            width: 100% !important;
        }

        @media only screen and (min-width: 968px) {
            .auto-complete-address-boostrap-only {
                width: 27rem
            }
        }

        @media only screen and (max-width: 967px) {
            .auto-complete-address-boostrap-only {
                width: 15rem
            }
        }

        .sub_btn:after {
            display: none;
        }
    </style>


    <!-- <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0//static/css/bootstrap.min.css'> -->
    <link rel="stylesheet" href="/static/css/plugins/auto-complete-address-boostrap-only.css" />
    <link rel='stylesheet'
        href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.3//static/css/bootstrap-select.min.css'>
    <link rel='stylesheet'
        href='https://cdnjs.cloudflare.com/ajax/libs/ajax-bootstrap-select/1.3.8//static/css/ajax-bootstrap-select.min.css'>
    {% block head %}{%endblock%}
</head>

<body>
    <script>
        var url = window.location.href;
        if (url == "https://www.qualitydrycleanerz.co.uk/index.html#success") {
            window.location = '#contact';
            setInterval(function () { $('#smsg').show(); }, 2000);
        } else if (url == "https://www.qualitydrycleanerz.co.uk/index.html#error") {
            window.location = '#contact';
            setInterval(function () { $('#emsg').show(); }, 2000);
        }
    </script>
    <!-- =====================================
      ==== Start Loading -->

    <!-- <div class="loading">
        <div class="text-center middle">
            <div class="lds-ellipsis">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </div> -->

    <!-- End Loading ====
      ======================================= -->


    <!-- =====================================
      ==== Start Navbar -->

    <nav class="navbar navbar-expand-lg">
        <div class="container">

            <!-- Logo -->
            <a class="logo" href="/">
                <img src="/static/img/logo-light.png" alt="logo">
            </a>
            <div id="main">
                <div id="timeDiv"></div>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="icon-bar"><i class="fas fa-bars"></i></span>
            </button>

            <!-- navbar links -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link active" href="/" data-scroll-nav="0">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" data-scroll-nav="1">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" data-scroll-nav="2">Special Offers</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" data-scroll-nav="3">Why Choose Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" data-scroll-nav="4">Services</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" data-scroll-nav="5">Contact US</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#bookdiv" >Book Now</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- End Navbar ====
      ======================================= -->
    {% block content %}
{% endblock %}
    <!-- Site footer -->
    <footer class="site-footer">
        <div class="container">
            <div class="row">

                <div class="col-xs-6 col-md-3">
                    <h7>Opening Hours</h7>
                    <ul class="footer-links">
                        <li>Monday - Friday - 8.30am - 5.30pm</a></li>
                        <li>Saturday - 9am - 5pm</a></li>
                        <li>Sunday - Closed</a></li>
                        <li>Bank Holidays - Closed</a></li>
                        <li>Christmas: 24th – 1st</a></li>
                        <li></a></li>
                    </ul>
                </div>

                <div class="col-xs-6 col-md-3">
                    <h7>Areas We Cover</h7>
                    <ul class="footer-links">
                        <li>SN1, SN2</a></li>
                        <li>SN3, SN4</a></li>
                        <li>SN5, SN6</a></li>
                        <li>SN7, SN16</a></li>
                        <li>SN26, SN25</a></li>
                        <li>SN99, SN38</a></li>
                    </ul>
                </div>

                <div class="col-xs-6 col-md-3">
                    <h7>Address</h7>
                    <ul class="footer-links">
                        <li>Quality Dry Cleaners</a></li>
                        <li>100 Commercial Road</a></li>
                        <li>Swindon</a></li>
                        <li>SN1 5PL</a></li>
                        <li>Tel: 01793 617307</a></li>
                        <li>24hrs: 07599 091 665</a></li>
                    </ul>
                </div>

                <div class="col-xs-6 col-md-3">
                    <h7>Quick Links</h7>
                    <ul class="footer-links">

                        <li><a href="areas-we-cover.html">Areas We Cover</a></li>
                        <li><a href="partners.html">Partners</a></li>
                        <li><a href="sitemap.html">Sitemap</a></li>



                    </ul>
                </div>

            </div>
            <hr>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-sm-6 col-xs-12">
                    <p class="copyright-text">
                        <h7>Copyright</h7> &copy;<h8> 2022 All Rights Reserved by</h8>
                        <a href="#">Webtrica</a>.
                      </p>
                </div>

                <div class="col-md-4 col-sm-6 col-xs-12">
                    <ul class="social-icons">
                        <li><a class="facebook" href="https://www.facebook.com/QualityDryCleanerz/"><i
                                    class="fa fa-facebook"></i></a></li>
                        <li><a class="twitter" href="https://twitter.com/qdrycleaners"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li><a class="instagram" href="https://www.instagram.com/quality_dry_cleaners_swindon/?hl=en"><i
                                    class="fa fa-instagram"></i></a></li>

                    </ul>
                </div>
            </div>
        </div>
    </footer>

    <!-- End Footer ====
      ======================================= -->

    <!-- jQuery -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js'></script>
    <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script> -->

    <!-- <script src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/js/bootstrap.min.js'></script> -->
    <script src="/static/js/jquery-3.0.0.min.js"></script>
    <script src="/static/js/jquery-migrate-3.0.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/momentjs/2.13.0/moment.min.js"></script>

    <!-- popper.min -->
    <script src="/static/js/popper.min.js"></script>

    <!-- bootstrap -->
    <script src="/static/js/bootstrap.min.js"></script>

    <!-- scrollIt -->
    <script src="/static/js/scrollIt.min.js"></script>

    <!-- animated.headline -->
    <script src="/static/js/animated.headline.js"></script>

    <!-- jquery.waypoints.min -->
    <script src="/static/js/jquery.waypoints.min.js"></script>

    <!-- jquery.counterup.min -->
    <script src="/static/js/jquery.counterup.min.js"></script>

    <!-- owl carousel -->
    <script src="/static/js/owl.carousel.min.js"></script>

    <!-- jquery.magnific-popup js -->
    <script src="/static/js/jquery.magnific-popup.min.js"></script>

    <!-- stellar js -->
    <script src="/static/js/jquery.stellar.min.js"></script>

    <!-- isotope.pkgd.min js -->
    <script src="/static/js/isotope.pkgd.min.js"></script>


    <!-- Map -->
    <script src="/static/js/map.js"></script>

    <!-- validator js -->
    <script src="/static/js/validator.js"></script>

    <!-- custom scripts -->
    <script src="/static/js/scripts.js"></script>

    <!-- google map api -->
    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBK7lXLHQgaGdP3IvMPi1ej0B9JHUbcqB0&callback=initMap">

        </script>



    <!-- add Script below with <> -->
    <Script>
        var now = new Date();
        var weekday = new Array(7);
        weekday[0] = "Sunday";
        weekday[1] = "Monday";
        weekday[2] = "Tuesday";
        weekday[3] = "Wednesday";
        weekday[4] = "Thursday";
        weekday[5] = "Friday";
        weekday[6] = "Saturday";


        var checkTime = function () {

            var weekdayOpenTime = "8.30am";
            var weekdayCloseTime = "5.00pm";

            var saturdayOpenTime = "9:00am";
            var saturdayCloseTime = "5.00pm";

            var today = new Date();
            var time = moment(today).format("hh:mma");
            var dayName = today.toLocaleString('en-us', { weekday: 'long' })
            var weekday = today.getDay();


            if (weekday == 0 || isHoliday()) {
                timeDiv.innerHTML = 'It\'s ' + dayName + ' ' + time + ' - we\'re closed!';
                timeDiv.className = 'closed';
            }
            else if (weekday == 6) {
                var beginningTime = moment(saturdayOpenTime, 'h:mma');
                var endTime = moment(saturdayCloseTime, 'h:mma');
            }
            else {
                var beginningTime = moment(weekdayOpenTime, 'h:mma');
                var endTime = moment(weekdayCloseTime, 'h:mma');
            }
            if (isOpeningHours(beginningTime, endTime)) {
                timeDiv.innerHTML = 'it\'s ' + dayName + ' ' + time + ' - we\'re open!';
                timeDiv.className = 'open';
            }
            else {
                timeDiv.innerHTML = 'It\'s ' + dayName + ' ' + time + ' - we\'re closed!';
                timeDiv.className = 'closed';
            }

        }

        function isOpeningHours(beginningTime, endTime) {
            var today = new Date();
            var time = moment(today).format("hh:mma");
            var currentTime = moment(time, 'h:mma');
            return currentTime.isBetween(beginningTime, endTime, null, '[)');
        }



        function isHoliday() {
            var today = new Date();
            var todayDateString = today.getFullYear() + "-" + (today.getMonth() + 1) + "-" + today.getDate();
            var currentYear = today.getFullYear();

            const monthNamesToNumber = {
                "January": 0,
                "February": 1,
                "March": 2,
                "April": 3,
                "May": 4,
                "June": 5,
                "July": 6,
                "August": 7,
                "September": 8,
                "October": 9,
                "November": 10,
                "December": 11
            }

            var returnVal = false;

            var todayDate = moment(todayDateString).format('YYYY-MM-DD');
            //format "MM-DD"
            var holidays = [

                [1, "January"],
                [5, "April"],
                [3, "May"],
                [31, "May"],
                [30, "August"],
                [25, "December"],
                [26, "December"],
                [27, "December"],
                [28, "December"],
                [29, "December"],
                [30, "December"],
                [31, "December"]

            ];
            $.each(holidays, (index, item) => {

                var date = monthNamesToNumber[item[1]] + "-" + item[0];
                date = currentYear + "-" + date;
                var holidayDate = moment(date).format('YYYY-MM-DD');
                if (todayDate == holidayDate)
                    returnVal = true;
            })

            return returnVal;

        }

        var currentDay = weekday[now.getDay()];
        var currentDayID = "#" + currentDay; //gets todays weekday and turns it into id
        $(currentDayID).toggleClass("today"); //hightlights today in the view hours modal popup

        setInterval(checkTime, 1000);
        checkTime();
    </script>



    <!--StartofTawk.toScript-->
    <script
        type="text/javascript"> var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date(); (function () { var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0]; s1.async = true; s1.src = 'https://embed.tawk.to/5ae9e3e45f7cdf4f0533cc97/1ccgqbksk'; s1.charset = 'UTF-8'; s1.setAttribute('crossorigin', '*'); s0.parentNode.insertBefore(s1, s0); })(); </script>
    <!--End of Tawk.to Script-->
    <!--End of Tawk.to Script-->




    <!--GOOGLE BUSSINESS-->
    <script type='application/ld+json'>
    {
      "@context": "http://www.schema.org",
      "@type": "DryCleaningOrLaundry",
      "name": "Quality Dry Cleaners",
      "url": "https://www.qualitydrycleanerz.co.uk/",
      "logo": "https://www.qualitydrycleanerz.co.uk/img/logo-dark.png",
      "image": "https://www.qualitydrycleanerz.co.uk/img/Main-image/shop.jpg",
      "description": "Quality Dry Cleaners offers Laundry, Dry Cleaning & Alterations services in Swindon and surrounding areas. We offer Collection and Delivery Services.",
      "address": {
        "@type": "PostalAddress",
        "streetAddress": "100 Commercial Road",
        "addressLocality": "Swindon",
        "addressRegion": "Swindon ",
        "postalCode": "SN1 5PL",
        "addressCountry": "United Kingdom"
      },
      "geo": {
        "@type": "GeoCoordinates",
        "latitude": "51.558955",
        "longitude": "1.785002"
      },
      "hasMap": "https://www.google.com/maps/place/Quality+Dry+Cleaners+%26+Alterations/@51.558955,-1.785002,13z/data=!4m5!3m4!1s0x0:0x3f771f18d1594164!8m2!3d51.558955!4d-1.785002?hl=en-US",
      "openingHours": "Mo, Tu, We, Th, Fr 08:30-17:30",
      "contactPoint": {
        "@type": "ContactPoint",
        "telephone": "+44 1793 617307",
        "contactType": "general"
      }
    }
    </script>
    <!--/GOOGLE BUSSINESS-->

    <!--META-->
    <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "Organization",
      "name": "Quality Dry Cleaners",
      "url": "https://www.qualitydrycleanerz.co.uk/",
      "address": "100 Commercial Road, Swindon SN1 5PL, United Kingdom",
      "sameAs": [
        "https://www.facebook.com/QualityDryCleanerz/",
        "https://www.instagram.com/quality_dry_cleaners_swindon",
        "https://twitter.com/qdrycleaners",
        "https://www.linkedin.com/in/quality-dry-cleaners-2170751a9/"
      ]
    }
  </script>
    <!-- /META -->

    <!--WEBSITE-->
    <script type='application/ld+json'>
    {
      "@context": "http://www.schema.org",
      "@type": "WebSite",
      "name": "Quality Dry Cleaners",
      "alternateName": "Dry Cleaners Near Me",
      "url": "https://www.qualitydrycleanerz.co.uk/"
    }
     </script>
    <script type="text/javascript" src="https://js.api.here.com/v3/3.1/mapsjs-core.js"></script>
    <script type="text/javascript" src="https://js.api.here.com/v3/3.1/mapsjs-service.js"></script>
    <script type="text/javascript" src="https://js.api.here.com/v3/3.1/mapsjs-ui.js"></script>
    <script type="text/javascript" src="https://js.api.here.com/v3/3.1/mapsjs-mapevents.js"></script>
    <script src="http://afarkas.github.io/webshim/js-webshim/minified/polyfiller.js"></script>

    <script src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.3/js/bootstrap-select.min.js'></script>
    <script
        src='https://cdnjs.cloudflare.com/ajax/libs/ajax-bootstrap-select/1.3.8/js/ajax-bootstrap-select.min.js'></script>
    <script type="text/javascript">
        $(".selectpicker")
            .selectpicker({
                noneSelectedText: 'Enter Post code'
            });
        setTimeout(function () {
            $(".bs-searchbox input").on('input propertychange', function (e) {
                var query = $(this).val();
                var queryLength = query.replace(" ", "").length;
                if (queryLength < 6) {
                    options = '<option></option>';
                    document.getElementById('ajax-select').innerHTML = options;
                    $(".selectpicker")
                        .selectpicker("refresh");
                    return;
                }
                if (!isWithinRange(query)) {
                    options = '<option>We dont provide service in ' + query.toUpperCase() + '"</option>';
                    document.getElementById('ajax-select').innerHTML = options;
                    $(".selectpicker")
                        .selectpicker("refresh");
                    return;
                }
                options = '<option>Searching</option>';
                document.getElementById('ajax-select').innerHTML = options;
                $(".selectpicker").selectpicker("refresh");
                $.getJSON("/static/postcodes/postcodes.php?postcode=" + query, function (result) {
                    query = query.toUpperCase();
                    var options = '';
                    var x = 0;
                    console.log(result.source)
                    $.each(result.addresses, (k, v) => {
                        var addressArray = v.filter(function (el) {
                            return el != "";
                        });
                        var addressString = addressArray.join(", ")
                        var optionValue = addressString + ', ' + query;
                        v.push(query);
                        options += '<option data-id="' + v + '" value="' + optionValue + '">' + optionValue + '</option>';
                    })
                    if (options == "") {
                        options = '<option>We dont provide service in ' + query + '"</option>';
                        document.getElementById('ajax-select').innerHTML = options;
                    }
                    else {
                        document.getElementById('ajax-select').innerHTML = options;
                    }
                    updateValues(result.addresses[0]);
                    $(".selectpicker").selectpicker("refresh");
                }).error(function () {
                    options = '<option>No results found!</option>';
                    document.getElementById('ajax-select').innerHTML = options;
                    $(".selectpicker").selectpicker("refresh");
                });
            });
            $(".selectpicker").click(function () { $(".dropdown-menu").show() });
            $(".dropdown-menu ul").click(function () { $(".dropdown-menu").hide() });
        }, 500)
        $('.selectpicker').on('change', function () {
            var string = $("#ajax-select").find(':selected').data("id");
            var array = string.split(",");
            updateValues(array)
        });

        function updateValues(array) {
            var address = "";
            if (array[0])
                address += array[0] + ", ";
            if (array[1])
                address += array[1] + ", ";
            if (array[2])
                address += array[2] + ", ";

            address = address.slice(0, -2)

            $("#firstLineAddress").val(address)
            $("#city").val(array[3])
            $("#postcode").val(array[5])
        }

        function chooseSelectpicker(index, selectpicker) {
            $(selectpicker).val(index);
            $(selectpicker).selectpicker('refresh');
        }

        function isWithinRange(postalCode) {
            if (!postalCode)
                return true;
            // return false;
            postalCode = postalCode.toUpperCase();
            var postCodes =
                ["SN1", "SN2", "SN3", "SN4", "SN5", "SN6", "SN7", "SN26", "SN25", "SN99", "SN38"];
            for (var i = 0; i < postCodes.length; i++) {
                if (postalCode.includes(postCodes[i]))
                    return true;
            }
            return false;
        }
    </script>
    <!--/WEBSITE-->
</body>

</html>